<div class="page_title"><h3> Amudan Sripada Thangigal Avai (ASTA)</h3></div>
	<div style="text-align:center;">
		<img src="images/aramudhan.jpg">
		<div class="pasuram">
			<span class="title"> PASURAM 5-8-11 (Tiruvazhmozhi) </span>
			<p>	 uzhalaiyenpin pEycci mulaiyUDu avaLai uyir uNDAn </p>
			<p> kazhalkaL avaiyE saraNAgak koNDa kurugUr saDagOpan </p>
			<p> kuzhalin maliya sonna Or AyirattuLip pattum, </p>
			<p> mazhalai tIra vallAr kAmar mAnEy nOkkiyarkkE. </p>
		</div>
	</div>
	<h2 class="doc_title"> Meaning</h2>
	<div class="text-container" style="height:300px">
		<div style="float:left;width:80%;">
		<p class="para" >"Kurukoor Satakopan, finding   asylum only in the feet of the Lord  who drank the life of the lady- devil, with bones as strong as  latch-bars made of steel, through her breasts, sang one thousand verses, more melodious than the music from the flute of the Lord at Brindavan. Those who can master  these ten out of those unique one thousand verses with clarity (without making them look demotic or cacophony), will be the object of love of the Lord and His true devotees as cupid would be to dames with eyes as beautiful and sparkling like that of deer's."<br/>
		Learned Srivaishnavites instantly recognize this Pasuram that has revived the Nalayira Divya Prabhandam - a collection of all the pasurams sung by Srivaishnavite Azhwars in praise of Lord SrimanNarayana - and said to have the essence of all the Vedas and Upanishads <br/>
		The legend goes that one of our greatest Acharyan Sri Nathamunigal met a few devotees singing this wonderful composition in praise of Lord ArAvamudan at the Sri Sarangapani Temple in Kumbakonam. The Pasuram itself ends with "Or Ayirattul ip pattum" - meaning "these 10 songs or decad out of the thousand". Sri Nathamunigal got curious and enquired about the other 990 pasurams. He was eventually directed to Sri Madhurakavi Azhwar's birth place. He learnt that the "thousand songs" were not there anymore, but can be revived by reciting "Kanninun Ciruttambu" 12000 times. It is well known that Sri Nathamunigal did meditate on Sri Nammazhwar with Kanninun Ciruttambu and got the sAkshAtkAram of Sri Nammazhwar. Azhwar bestowed Sri Nathamunigal and the entire Srivaishnava Community with the Divya Prabhandam.</p>
		</div>
		<div style="float:left;width:207px;">
			<img src="/images/perumal_1.jpg" style="float:left;"/>
		</div>
	</div>
	
	<div class="text-container" style="height:346px">
		<div style="float:left;width:240px;">	
			<img src="/images/perumal_2.jpg" style="float:left;"/>
		</div>
		<div style="float:left;width:77%">
			<p class="para"> As a token of obeisance to Sri Nathamunigal, all the SriVaishnavites recite his name in the following slokam that precedes any other chanting:Lakshminatha SamArambham Natha Yamuna Madhyamam AsmadAcharya ParyanthAm Vande Guru ParamparAm <br/>
Indeed, we are all indebted to Sri Nathamunigal, the devotees from South who sang the Pasurams that they knew and the Lord Sri ArAvamudan himself without whose sankalpam, this meeting would not have occurred. <br/>
Thus the revival of Srivaishnavism through Nalayira Divya Prabhandam was indeed through the blessings of Lord Sri ArAvamudan.
			</p>
			<p class="para">
				There are several Utsavams during a year for Sri ArAvamudan. During the days of glory, these Utsavams were celebrated with grand Veda Parayana Goshti and Nalayira Divya Prabandha Goshti. For the past several years, the participation has thinned down. The Utsavams still happen, but Perumal's Vahanam is dragged on a cart. The Archa tirumeni of Perumal is getting affected because of this practice. ASTA (Amudan Sripada Thangigal Avai) Trust has come forward to arrange for Sripada Thangigal (Devotees who carry Perumal on their shoulders) for ArAvamudan's Utsavams.
			</p>
		</div>
	</div>

	<h2 class="doc_title"> APPEAL</h2>
	<p class="para">
	Just 10 Pasurams submitted at the lotus feet of Lord ArAvamudan were instumental in reviving the Divya Prabhandam and Sri Vaishnavism, Here is an opportunity to all the Srivaishnavites to contribute Rs.100 to ASTA trust and become a "Amudan Sripada Thangi". The amount collected will be used to establish a fund to conduct Sripada Thangi services to ArAvamudan year after year for all the Utsavams. Let us hope these Utsavams will eventually gain glory of the past.
	</p>
	<p class="para">
We will also maintain a database of all Sri Vaishnavites contributing to this noble cause based on the details collected through the form provided at the end of this hand-out. The database so collected will be available for query - and information on Srivaishnavites belonging to the same Divya Desam, same Acharyan etc., which can be obtained easily for devotees to re-group, join hands and participate in glorification of their respective birth place, Abhimana Kshetram and so on. 
</p>
<p class="para">
Contribution amount is suggested to be a minimum of Rs.100 to enable all the adiyaars to participate in this great kainkaryam to Lord ArAvamudan.
Please furnish your details below to enable us to collect data for the database, Please contribute generously to this cause, and as always, Lord ArAvamudan's blessings will be with you.         
</p>
<div class="text-container" style="height:346px">
	<img src="/images/perumal_3.jpg" style="float:left;"/>
	<img src="/images/cart.jpg" style="float:right;"/>
</div>
